<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${newUserAttribute.getId()})}" th:object="${newUserAttribute}">
  <label for="name">Enter name </label>
  <input type="text" th:field="*{firstName}" id="name"/>
  <br>
  <label for="lastname">Enter last name </label>
  <input type="text" th:field="*{lastName}" id="lastname"/>
  <br>
  <label for="email">Enter email </label>
  <input type="text" th:field="*{email}" id="email"/>
  <br>
  <input type="submit" value="Update"/>
</form>
</body>
</html>